@model IEnumerable<SelectListItem>
    <label class="label" style="display: block; margin-top: 12px" for="theme">Тема: @Html.DropDownList("theme", Model)</label> 
    <script type="text/javascript">
        document.getElementById("theme").onchange = function () {
            window.location = this.options[this.selectedIndex].value;
        }
    </script>
