@{
    ViewBag.Title = "О сайте";
}
<div class="about">
    <div>Сайт Sport представляет собой отличное решение для фанатов и болельщиков, у которых нет возможности посмотреть видео с матчами любимых команд. Вместо видео вы сможете следить за ходом матчей прямо у нас на сайте, читая об этом! Текст не занимает много интернет-трафика, поэтому вы не пропустите все интересное даже если вы читаете наш сайт с телефона за городом!</div>

    <img src="/Content/themes/Stadium/image/о-сайте.png" width="" height="" alt="">
</div>