@{
    ViewBag.Title = "Index";
}

<h1>НОРМАЛЬНО</h1>
<h2>Крестики-нолики</h2>
<h2>Привет, котятки!</h2>
<p>На этот раз пилить будем игру крестики нолики :3</p>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">

        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#task">
                <h4 class="panel-title">

                    Задание

                </h4>
            </a>
        </div>
        <div id="task" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Реализовать крестики-нолики для игры за одним компьютером.</p>
                <h3>Условия:</h3>
                <p>
                    Хранить и проверять состояние игры будет сервер.
                    Клиентская часть должна запрашивать состояние игры GET запросом и при каждом ходе отправлять POST запрос с данными о ходе.
                </p>
                <h3>API:</h3>
                <p>
                    Для ведения состояния игры вы будете оперировать айдишником игры.
                    Он представляет из себя гуид(Guid), который отправит вам сервер при первом сделанном вами ходе.
                    Далее следующие ходы, а также запросы состояния игры вы должны проводить с этим айдишником.

                    <h4>GET запрос для получения состояния игры:</h4> <code>/TicTacToe/GetState</code>
                    <h5>Запрос:</h5>
                    <table class="table-bordered    ">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Тип</th>
                                <th>Значение</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    gameId
                                </td>
                                <td>
                                    string(но формат Guid)
                                </td>
                                <td>
                                    Идентификатор игры, полученный с сервера. Как получили его в первый раз - запоминаем и используем до конца игры.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5>Ответ:</h5>
                <p>Ответ придёт в формате JSON. И будет представлять из себя объект с двумя состовляющими:</p>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Тип</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                State
                            </td>
                            <td>
                                string
                            </td>
                            <td>
                                Состояние игры:
                                <ul>
                                    <li><strong>Playing</strong> - игра идёт</li>
                                    <li><strong>Draw</strong> - ничья</li>
                                    <li><strong>X</strong> - победа крестиков</li>
                                    <li><strong>O</strong> - победа ноликов</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Turns
                            </td>
                            <td>
                                array
                            </td>
                            <td>
                                Массив ходов. Каждый ход - это объект с 4 параметрами:
                                <ul>
                                    <li><strong>GameId</strong> - id игры</li>
                                    <li><strong>Value</strong> - значение. 0 для X и 1 для O</li>
                                    <li><strong>X</strong> - координата X</li>
                                    <li><strong>Y</strong> - координата Y</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>POST запрос для изменения состояния игры:</h4> <code>/TicTacToe/MakeTurn</code>
                <h5>Запрос:</h5>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Тип</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                gameId
                            </td>
                            <td>
                                string(но формат Guid)
                            </td>
                            <td>
                                Идентификатор игры, полученный с сервера. Как получили его в первый раз - запоминаем и используем до конца игры.
                                В первый ход отправляем пустую строку и сервер пришлёт нам айдишник новой игры.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                value
                            </td>
                            <td>
                                int
                            </td>
                            <td>
                                Значение - чей ход был. 0 для X и 1 для O.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                X
                            </td>
                            <td>
                                int
                            </td>
                            <td>
                                Координата X. 0 =< X =< 2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Y
                            </td>
                            <td>
                                int
                            </td>
                            <td>
                                Координата Y. 0 =< Y =< 2
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5>Ответ:</h5>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Тип</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Без имени
                            </td>
                            <td>
                                string(но формат Guid)
                            </td>
                            <td>
                                Идентификатор игры, полученный с сервера. Как получили его в первый раз - запоминаем и используем до конца игры или ничего, если вы что-то запортачили.
                            </td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#solution">
                <h4 class="panel-title">

                    Результаты

                </h4>
            </a>
        </div>
        <div id="solution" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
                    <li>
                        <a href="/TicTacToe/Avramov">Саша</a> и <a href="/TicTacToe/Sarychev">Максим </a> - 50 котиков каждому.
                    </li>
                    <li>
                        <a href="/TicTacToe/Lee">Женя</a> - 30 котиков
                    </li>
                    <li>
                        <a href="/TicTacToe/Krakovetsky">Валя</a> - остается без котиков.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#comment">
                <h4 class="panel-title">

                    Комментарии

                </h4>
            </a>
        </div>
        <div id="comment" class="panel-collapse collapse">
            <div class="panel-body">
                <strong>По работам:</strong>
                <p>Максим оригинально оформил свою работу и в целом код хорош. Хотя в некоторых моментах мы не видели смысла в подходах, который он применял, но это мелочи. Всё работает, работа оформлена и в целом нас она порадовала :)</p>

                <p>Очень порадовала работа Саши. Единственная проблема - это баг, который позволяет два раза сходить в одну клетку. Код нам понравился, хотя некоторые вещи вызывают сомнения. Но это опять таки же мелочи.</p>

                <p>Женино решение нам показалось не оптимальным. Многие вещи можно было сделать лучше и правильнее, но тем не менее всё работает.</p>

                <p>
                    Валентин остается без награды, т.к. тот способ которым он выполнил задание мы считаем неприемлемым. Дополнительно Валентин будет оштрафован на 15 котиков с оплаты следующего задания.
                    Саму работу Вали комментировать не буду. Он в курсе и этого достаточно.
                </p>

                <strong>Общее замечание:</strong>
                <p>На работу была выделена почти неделя. Я понимаю, что часть времени сервер был недоступен, но сделать и отполировать всё несвязанное с взаимодействием с сервером за это время можно было, но сложилось впечатление, что работа по настоящему началась только в последний день да и то ближе к вечеру. Задание в принципе простое и оно правда не на неделю, а некоторые еще просили отодвинуть сроки по тем или иным причинам. Выполняйте работу своевременно, ребята. Или если вы делаете всё в последний момент делайте это так, чтобы к вам претензий по качеству работы не было.</p>

                <p>Это было последнее конкурсно-тестовое задание. Теперь мы приступаем к полноценной работе и в скором времени вы получите свои таски.</p>

                <p>Всем спасибо.</p>
            </div>
        </div>
    </div>
   
</div>

