@model List<WebApp.Models.Team>

<ol>
    @foreach (var partic in Model)
    {
        <li>
            @Html.ActionLink(partic.Name, "Details", "Team", new{id = partic.Id}, null) 
            @Ajax.ActionLink("[Убрать]", "RemoveParticipantFromTournament", "Tournament",
                new { tournId = ViewBag.TournamentId, particId = partic.Id },
                 new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tournParticips", InsertionMode = InsertionMode.Replace })
        </li>
    }
</ol>