@model WebApp.Models.EventType

@{
    ViewBag.Title = "Редактирование вида события";
}

<h2>Редактирование вида события</h2>

@using (Html.BeginForm("Edit", "EventType", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.Id)
    @Html.EditorForModel()
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Редактировать" />
        </div>
    </div>
}